@font-face {
    font-display: swap; /* This helps as improvement website performanse when loading fonts*/
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('../../assets/fonts/SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: normal;
    color: #0ccac4;
}